.title{
  color: #212529;
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
}
.title:hover{
  color: #292929;
  transform: scale(1.05)
}